{% if mainStreamer is not null %}
    <table class="table table-striped table-bordered dt-responsive nowrap"
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="text-center">
                Main
            </th>
            {% for streamer in mainStreamer %}
                <th class="text-center">
                    <a href="{{ path('profileStreamer', {'streamer':streamer.id}) }}">{{ streamer.name }}</a> ({% if streamer.on == true %}<a href="{{ path('loadPlayer', {'searchString': streamer.name}) }}"><i style="color:#61b041;" class="fa fa-play tt" title="Watch Stream now"></i></a>{% else %}<i style="color:#cc1c23;" class="fa fa-remove tt" title="Streamer offline"></i>{% endif %})
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">
                Play &percnt;
            </td>
            {% for streamer in mainStreamer %}
            <td class="text-center">
                {{ streamer.pct }}&percnt;
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% else %}
    <div class="row" style="border-bottom:1px solid #ccc;padding-top:5px;">
        <div class="col-12">
            No Streamer found
        </div>
    </div>
{% endif %}