{% extends 'base.html.twig' %}
{% block title %} - League of Legends Streams{% endblock title %}
{% block body %}
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <div class="search-box" data-step="1" data-intro="Search Streamer, Champion or Summoner"
                 data-position="left">
                <input placeholder="Search..." id="searchChamp"><span class="icon fa fa-search"></span>
            </div>
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span
                            class="line"></span><span class="line"></span><span class="line line-angle1"></span><span
                            class="line line-angle2"></span></a>Welcome</h1>
        </header>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content" id="pScrollerMain">
                <div class="container-fluid">
                    <div class="row justify-content-left" style="margin-right:15px;">
                        {% for stream in streams if streams is not null %}
                            {{ render(controller('App\\Controller\\RenderController::renderStreamerInfoContainer',{'s':stream.id})) }}
                            <br/>
                        {% endfor %}
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    &nbsp;
                </div>
            </div>
        </div>
    </main>
    <input type="hidden" id="ajax-route-update-streamer-single" value="{{ path('updateStreamerSingle') }}"/>
{% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    <script>
        var LS_NAV = "mLive";
    </script>
{% endblock javascripts %}
